.middle-logo {
  margin: auto;
}

.top-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;;
}

.img-container {
  position: relative;
}

.text-box {
  position: absolute;
  bottom: 30%;
  right: auto;
  left: 40%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: .5px solid black;
  font-family: Arial Black;
  padding: 20px 20px 20px 20px;
  outline-style: solid;
  outline-color: white;
  outline-width: 10px;
}

.small-text {
  text-decoration: underline;
  text-decoration-color: goldenrod;
  border-bottom: 20px;
}

.middle {
  text-align: center;
  padding: 40px;
  font-family: arial black;
}

.middle-text {
  text-transform: uppercase;
  display: inline-block;
}

.flex-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 310px 0px;
  padding: 45px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: arial rounded;
}

#all:hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
#lifestyle:hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
#accessories:hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
#essentials:hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.card-deck {
  padding: 20px;
  margin: 0 80px 0px;
}

.card {
  margin: 0 100px 100px;
  width: 50%;
  border: none;
  font-family: arial black;
}

.card img {
  height: 210px;
  width: 200px;
}

.checked {
  color: goldenrod;
}

svg {
  margin-right: 20px;
}

select {
  margin-right: 30px;
  border: none;
}

nav {
  font-family: arial rounded;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

